/* Min Width 300px and Max Width 991px */

@media (min-width: 300px) and (max-width: 991px) {
  .container {
    padding: 0 20px;
  }

  .hero-content h2 {
    font-size: 30px;
  }

  .hero-content p {
    font-size: 18px;
    padding-right: 0;
  }

  .form-heading {
    margin: 0 20px;
  }

  .form-heading h3 {
    font-size: 22px;
  }

  .form-fields {
    padding-right: 10px;
    padding-bottom: 50px;
  }

  .form-checkboxes {
    padding-left: 10px;
  }

  .checkbox-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
